<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>{{title}}</h1>
			<p>This is a starter template for node express and mongodb using handlebars and mongoose. <br> on heroku...</p>
		</div>
	</div>
</div>
