 <div class="container">
	<div class="col-md-12">
		<form method='post', action='/users/register', enctype='multipart/form-data'>
		<div class="form-group">
		    <label for="Name">Full Name</label>
		    <input name='name' type="text" class="form-control" id="name" placeholder="Enter full name">
		  </div>
		  <div class="form-group">
		    <label for="Email">Email</label>
		    <input name='email' type="email" class="form-control" id="email" placeholder="Enter email">
		  </div>
		  <div class="form-group">
		    <label for="Username">Username</label>
		    <input name='username' type="text" class="form-control" id="username" placeholder="Enter username">
		  </div>
		  <div class="form-group">
		    <label for="Password">Password</label>
		    <input name="password" type="password" class="form-control" id="password" placeholder="Enter password">
		  </div>
		  <div class="form-group">
		    <label for="Password2">Confirm Password</label>
		    <input name="password2" type="password" class="form-control" id="password2" placeholder="Enter password again">
		  </div>
		  <button name="submit" type="submit" class="btn btn-primary">Register</button>
		</form>
	</div>
</div>